<div class="row">
    <h1 class="tittle">Hard & Soft Skills</h1>
    <div class="circle text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="50"
        [showImage]="true"
        [imageSrc]="'../../../assets/html5.png'"
        [imageWidth]="50"
        [imageHeight]="50"
        [showBackground]="false"
        [showUnits]="false"
        [backgroundColor]="'#251F47'"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bdf35'"
        [innerStrokeColor]="'#EAC435'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="circle text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="50"
        [showImage]="true"
        [imageSrc]="'../../../assets/css3.png'"
        [imageWidth]="50"
        [imageHeight]="50"
        [showUnits]="false"
        [backgroundColor]="'#251F47'"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bdf35'"
        [innerStrokeColor]="'#EAC435'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="circle text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="50"
        [showImage]="true"
        [imageSrc]="'../../../assets/jv.png'"
        [imageWidth]="50"
        [imageHeight]="50"
        [showUnits]="false"
        [backgroundColor]="'#251F47'"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bdf35'"
        [innerStrokeColor]="'#EAC435'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="circle text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="50"
        [showImage]="true"
        [imageSrc]="'../../../assets/python.png'"
        [imageWidth]="45"
        [imageHeight]="50"
        [showUnits]="false"
        [backgroundColor]="'#251F47'"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bdf35'"
        [innerStrokeColor]="'#EAC435'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="circle text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="50"
        [showImage]="true"
        [imageSrc]="'../../../assets/git2.png'"
        [imageWidth]="50"
        [imageHeight]="50"
        [showUnits]="false"
        [backgroundColor]="'#251F47'"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bdf35'"
        [innerStrokeColor]="'#EAC435'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="circle text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="50"
        [showImage]="true"
        [imageSrc]="'../../../assets/linux.png'"
        [imageWidth]="50"
        [imageHeight]="50"
        [showUnits]="false"
        [backgroundColor]="'#251F47'"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#9bdf35'"
        [innerStrokeColor]="'#EAC435'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
