<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" 
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Santiago Arias</p>
        <p id="caracteristica">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="titulo">Acerca de mi</h1>
            <p id="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita labore blanditiis officiis voluptatibus repellendus praesentium tempora nihil quo rerum quae, fuga dolorum illo voluptas consectetur, delectus earum nulla, ipsa id!</p>
        </span>
    </div>
</div>