<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11" id="container">
        <section id="Colegio">
        <ul>
            
            <li><h2><a href="#Colegio">Colegio</a></h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo beatae tempora, corrupti temporibus, earum adipisci non quas natus quos sunt
                 dolor et! Sed incidunt est eum ipsum? Dolorum, hic consequatur!</p>
        
        </ul>
        </section>
        <section id="Facultad">
        <ul>
                
            <li><h2><a href="#Facultad">Facultad</a></h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo beatae tempora, corrupti temporibus, earum adipisci non quas natus quos sunt
                 dolor et! Sed incidunt est eum ipsum? Dolorum, hic consequatur!</p>
        </ul>
        </section>      
    </div>
</div>