<div class="row">
    <div class="tittle">
    <h1>Educación</h1>
    </div>
    <div class="col-lg-11">
        <div class="container">
        <ul>
            <li id="item1">
                <h2>Colegio</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia vero excepturi consequatur optio impedit esse. Voluptas, velit? Corrupti amet totam consequuntur suscipit debitis vel libero labore rem repudiandae quam.</p>                
            </li>        
        </ul>
            <ul>
                <li>
                    <h2>Facultad</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia vero excepturi consequatur optio impedit esse. Voluptas, velit? Corrupti amet totam consequuntur suscipit debitis vel libero labore rem repudiandae quam.</p>
                    
                </li>        
            </ul>
        </div>

    </div>
</div>