<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11" id="container">
        <section id="Trabajo1">
        <ul>
            
            <li><h2><a href="#Trabajo1">Trabajo 1</a></h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo beatae tempora, corrupti temporibus, earum adipisci non quas natus quos sunt
                 dolor et! Sed incidunt est eum ipsum? Dolorum, hic consequatur!</p>
        
        </ul>
        </section>
        <section id="Trabajo2">
        <ul>
                
            <li><h2><a href="#Trabajo2">Trabajo 2</a></h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo beatae tempora, corrupti temporibus, earum adipisci non quas natus quos sunt
                 dolor et! Sed incidunt est eum ipsum? Dolorum, hic consequatur!</p>
            
        </ul>
        </section>
        <section id="Trabajo3">
        <ul>
                
            <li><h2><a href="#Trabajo3">Trabajo 3</a></h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo beatae tempora, corrupti temporibus, earum adipisci non quas natus quos sunt
                dolor et! Sed incidunt est eum ipsum? Dolorum, hic consequatur!</p>
                
        </ul>
        </section>
        
    </div>
</div>