<div class="row">
    <div class="tittle">
    <h1>Experiencia</h1>
    </div>
    <div class="col-lg-11">
        <div class="container">
        <ul>
            <li id="item1">
                <h2>Trabajo 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia vero excepturi consequatur optio impedit esse. Voluptas, velit? Corrupti amet totam consequuntur suscipit debitis vel libero labore rem repudiandae quam.</p>                
            </li>        
        </ul>
            <ul>
                <li>
                    <h2>Trabajo 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia vero excepturi consequatur optio impedit esse. Voluptas, velit? Corrupti amet totam consequuntur suscipit debitis vel libero labore rem repudiandae quam.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium cumque non vel quis, magnam et ex tenetur odit ratione dolores recusandae consectetur amet nihil dignissimos atque dicta unde eaque? Aliquid?</p>                
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odio quo at, exercitationem pariatur minus minima nihil atque animi fugiat omnis. Pariatur exercitationem officia aliquam totam iste! Aliquam, fugit voluptatum.</p>
                </li>        
            </ul>
            <ul>
                <li>
                    <h2>Trabajo 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quia vero excepturi consequatur optio impedit esse. Voluptas, velit? Corrupti amet totam consequuntur suscipit debitis vel libero labore rem repudiandae quam.</p>                
                </li>        
            </ul>
        </div>

    </div>
    
</div>