<div class="row">
    <h1 class="tittle">Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 textocont">
            <h2 class="subtittle">Portafolio web</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio modi iure commodi, nesciunt dolorem, magnam unde quos nisi aliquid quibusdam magni perspiciatis dolorum expedita adipisci vero dolore sit culpa earum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagencont">
            <img src="../../../assets/banner4.jpg" class="img-fluid imagen">
        </div>

    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 textocont">
            <h2 class="subtittle">Portafolio web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis ipsa quae sapiente exercitationem perferendis assumenda perspiciatis cupiditate ipsam, nulla rerum adipisci tenetur. Perferendis, at odio nihil debitis sequi sapiente consequatur!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio modi iure commodi, nesciunt dolorem, magnam unde quos nisi aliquid quibusdam magni perspiciatis dolorum expedita adipisci vero dolore sit culpa earum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio modi iure commodi, nesciunt dolorem, magnam unde quos nisi aliquid quibusdam magni perspiciatis dolorum expedita adipisci vero dolore sit culpa earum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio modi iure commodi, nesciunt dolorem, magnam unde quos nisi aliquid quibusdam magni perspiciatis dolorum expedita adipisci vero dolore sit culpa earum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio modi iure commodi, nesciunt dolorem, magnam unde quos nisi aliquid quibusdam magni perspiciatis dolorum expedita adipisci vero dolore sit culpa earum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagencont">
            <img src="../../../assets/banner4.jpg" class="img-fluid imagen">
        </div>

    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 textocont">
            <h2 class="subtittle">Portafolio web</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio modi iure commodi, nesciunt dolorem, magnam unde quos nisi aliquid quibusdam magni perspiciatis dolorum expedita adipisci vero dolore sit culpa earum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagencont">
            <img src="../../../assets/banner4.jpg" class="img-fluid imagen">
        </div>

    </div>        
</div>
